* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  overflow-x: hidden;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 20px 50px;
  background-image: url(./images/page1.png);
  /* background-position: center; */
  background-size: cover;
}
#nav {
  position: sticky;
  width: 100%;
  height: 8.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #03d2ff;
  padding: 10px;
  z-index: 99;
  position: relative;
  border-radius: 10px;
  font-size: 1.3vw;
}
#logo {
  width: 6vw;
  height: 7vh;
  /* background-color: #FBF309; */
  position: relative;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
  object-position: center;
}
#links {
  display: flex;
}
#links a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 5px 40px;
  font-weight: 600;
}
#links a:hover{
  transition: all ease 0.3s;
  color: #ffffff;
  background: #000;
}
#links a:nth-child(3) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#links a:nth-child(1) {
  border-right: 2px solid black;
}
#page1 h1 {
  width: 50%;
  text-transform: uppercase;
  font-size: 5.3vw;
  font-weight: 750;
  /* letter-spacing: -3px; */
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px 1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, 1px -1px 0 #000000;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  position: relative;
  left: 4%;
  margin: 45px 0px;
}
#page1 h2 {
  color: white;
  font-size: 1.6vw;
  position: relative;
  left: 4%;
  font-weight: 750;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px 1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, 1px -1px 0 #000000;
  margin: -3vw 0vw 0vw 0vw;
}

#firstbut {
  padding: 20px 40px;
  /* background-color: rgba(255, 255, 255, 0.758); */
  position: relative;
  left: 4%;
  color: rgb(78, 78, 227);
  z-index: 99;
  /* bottom: 5%; */
  border: none;
  /* transform: translateX(-50%); */
  border-radius: 10px;
  font-family: jost;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  background-color: #03d2ff;
  /* background-color: red; */
  border: none;
  margin-top: 20px;
  /* opacity: 0; */
}
#firstbut > #more {
  height: 3.5vh;
  /* background-color: rgb(94, 255, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#firstbut > #more > h3 {
  transform: translateY(49%);
  transition: all ease 0.3s;
  color: rgb(255 255 255);
  font-size: 1.1vw;
  font-weight: 600;
}
#firstbut > #more > h4 {
  transform: translateY(-155%);
  transition: all ease 0.3s;
  color: #03d2ff;
  font-size: 1.2vw;
  font-weight: 500;
}
#firstbut > #firstbutfull {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255);
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  transition: all ease 0.3s;
}
#firstbut:hover #firstbutfull {
  top: 0;
}
#firstbut:hover #more > h3 {
  transform: translateY(120%);
  font-weight: 100;
}
#firstbut:hover #more > h4 {
  transform: translateY(-40%);
  z-index: 99999;
}
#page1 #logoimg {
  position: absolute;
  width: 17vw;
  top: 9vh;
  right: 95px;
  padding: 25px 25px 18px 25px;
  color: #3103ff;
  background-color: white;
  border-radius: 19px;
} 
#page2 {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/page2.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#page2 p{
  font-size:2vw;
  margin-left: 15vw;
}
.about-info-box p {
  margin-top: -10vh;
}
#page2 #blur {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #03d1ff86;
  padding: 15px 100px;
  color: white;

  display: flex;
  align-items: center;
  /* top: 0; */
}

#blur h1 {
  font-size: 10vw;
  color: #fbf309;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
/* #blur h3 {
  position: relative;
  left: 25%;
  top: -10vh;
  width: 70%;
  font-size: 1.6vw;
  font-weight: 800;
  line-height: 1.4;
} */
#page30 {
  width: 100%;
  min-height: 40vh;
  position: relative;
  background-color: #03d2ff;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  color: white;
  font-size: x-large;
}

#page30 h1 {
  font-size: 100px;
  padding-bottom: 10px;
}

#page30 img {
  width: 100%;
}

#page31 {
  width: 100%;
  min-height: 40vh;
  position: relative;
  background-color: #03d2ff;
  display: flex;
  padding: 0px 20px;
  padding-left: 150px;
  justify-content: space-between;
  color: white;
  align-items: center;
  /* justify-content: space-around; */
}
#page3left {
  margin:  -50px;
  width: 0%;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;

}
#page3left h1 {
  font-size: 9vw;
  font-weight: 900;
  line-height: 1;
}

#page3left img {
  display: inline;
  width: 14vw;
  margin: 14.5vw 0vw 0vw -9vw;
  height: 11vw;
}

#page3right {
  width: 80%;
  height: 100%;
  /* background-color: red; */
  padding: 50px 10px;
  position: relative;
}
#page3right a {
  text-decoration: none;
}
#page3right h2 {
  display: inline;
  padding: 10px 50px;
  font-size: 2.4vw;
  font-weight: 750;
  background-color: white;
  color: #03d2ff;
  border-radius: 10px;
  margin-right: 30px;
  position: relative;
}
#page3right h3 {
  width: 75%;
  font-size: 2vw;
}
#page3right h4{
  width: 75%;
  font-size: 2.5vw;
}

#page3right h5{
  width: 75%;
  font-size: 10vw;
  text-align: left;
  color: #fbf309;
  margin-left: -7px;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fbf309;
  color: white;
  overflow: hidden;
}

#page3mid {
  width: 100%;
  height: 33vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#page3mid h3 {
  /* width: 20%; */
  font-size: 2.7vw;
  font-weight: 730;
  text-align: center;
  /* background-color: red; */
  color: #03d2ff;
  line-height: 1;
}
#page3mid h3 span {
  font-size: 5.5vw;
  font-weight: 750;
}

#page3curve {
  width: 100%;
  min-height: 200vh;
  background-color: #03d2ff;
  border-top-right-radius: 350px;
  border-bottom-right-radius: 350px;
  padding: 50px 70px;
  position: relative;
  margin-bottom: 30px;
}
#page3curve h1 {
  text-transform: uppercase;
  font-size: 10vw;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}
#page3curve .box {
  width: 100%;
  height: 45vh;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  position: relative;
  padding: 0px 20px;
}
#page3curve #box1 {
  margin-bottom: 40px;
}
.curve {
  width: 28%;
  height: 100%;
  /* background-color: pink; */
  position: relative;
  /* border: 1px solid black; */
}
.ctop {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  color: black;
  margin-bottom: 20px;
  gap: 30px;
  /* background-color: gray; */
}
.ctop img {
  width: 7vw;
}
.ctop h2 {
  font-size: 2.1vw;
  font-weight: 700;
}
.curve h3 {
  font-size: 1.5vw;
}
#icon6 {
  width: 8vw;
}

#page3bot {
  display: flex;
  width: 100%;
  /* padding: 50px; */
  /* background-color: red; */
  padding: 0px 50px;
  position: relative;
  bottom: 0;
  align-items: end;
}
#page3bot h4 {
  text-transform: uppercase;
  color: #03d2ff;
  font-size: 9vw;
  font-weight: 800;
  width: 80%;
  /* background-color: rgb(10, 230, 36); */
  position: relative;
}
#page3bot p {
  color: black;
  line-height: 1;
  width: 50%;
  /* background-color: gainsboro; */
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.3vw;
}

#camp {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 32vh;
  /* top: -5%; */
  padding: 0px 50px;
  background-color: #03d2ff;
  /* background-color: red; */
}
#camp h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 9vw;
  font-weight: 800;
  width: 80%;
  position: relative;
  top: -5%;
  /* background-color: aquamarine; */
  /* top: -5%; */
  /* top: 2%; */
  /* background-color: rgb(198, 12, 12); */
}
#camp p {
  /* widows: 50%; */
  color: rgb(255, 255, 255);
  line-height: 1;
  width: 50%;
  /* background-color: gainsboro; */
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.3vw;
  padding-top: 10px;
}
#page4 {
  width: 100%;
  /* height: 100vh; */
  background-color: #3103ff;
  position: relative;
}
#fot {
  width: 100%;
  height: 72vh;
  /* background-image: url(./images/footer.png); */
  background-size: cover;
}
#fot img {
  width: 100%;
  height: 100%;
  position: relative;
}
#page4bot {
  width: 100%;
  min-height: 28vh;
  background-color: #fbf309;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#page4bot h1 {
  font-size: 3.6vw;
  font-weight: 600;
  letter-spacing: -4px;
  text-transform: uppercase;
  word-spacing: 7px;
}
#line {
  width: 10vw;
  border-top: 2px solid black;
}
#social {
  display: flex;
  gap: 15px;
}
#social a {
  text-decoration: none;
  color: black;
}
#social i {
  font-size: 2vw;
}
#hidden-nav{
  display: none;
}
/* Hidden navigation container */
#hidden-nav {
  position: relative;
  display: none;
}

/* Menu button styling */
#toggle-menu {
  font-size: 2vh;
  margin-top: 2vh;
  padding: 10px 30px;
  background-color: #03d2ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Links container styling */
#links-hidden {
  position: absolute;
  font-size: larger;
  top: 100%;
  left: 0;
  background-color: #03d2ff;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  z-index: 1;
  display: none;
  flex-direction: column;
}

/* Individual link styling */
#links-hidden a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

#links-hidden a:hover {
  background-color: #ddd;
}

/* Display links when the menu is toggled */
#links-hidden.show {
  display: flex;
}

@media (max-width: 1000px) {
  #page1 {
    padding: 10px;
    background-position: center;
    background-size: cover;
  }
  /* Hidden navigation container */
#hidden-nav {
  position: relative;
  display: inline-block;
}


  #nav {
    display: none;
    height: 0;
    padding: 0 10px;
  }

  #logo {
    width: 20%;
    height: 100vh;
  }

  #links a {
    padding: 5px 8px;
    font-size: 3vw;
  }

  #page1 h1 {
    width: 85%;
    font-size: 10vw;
    font-weight: 800;
    margin-top: 10%;
  }
  #page1 img #logoimg{
    height: 100vh;
    margin-top: -100vw;
  }

  #page1 h2 {
    font-size: 5vw;
    font-weight: 750;
  }

  #firstbut {
    margin-top: 13%;
  }

  #firstbut > #more > h3,
  #firstbut > #more > h4 {
    font-size: 4vw;
  }

  #page1 #logoimg {
    width: 30%;
    right: 5%;
  }

  #page2 #blur {
    padding: 15px 10px;
    background-color: rgba(3, 209, 255, 0.7);
  }
  #page2 h1 {
    font-size:16vw;
    text-align:left;
  }
  #page2 p {
    font-size:6vw;
    margin-left: -1vw;
  }
  #page31 {
    padding: 0 10px 0 40px;
  }

  #page3left {
    width: 20%;
  }

  #page3left h1 {
    font-size: 12vw;
    margin-left:9vw;
  }

  #page3right {
    width: 80%;
    padding: 20px 10px;
    margin-left: 35vw;
  }

  #page3right h2 {
    font-size: 4vw;
    padding-right:10px;
    padding-left:10px;
  }

  #page3right h3 {
    font-size: 4vw;
  }
  #page3right h4 {
    font-size: 4vw;
  }

  #page3 {
    min-height: 150vh;
  }

  #page3mid {
    flex-direction: column;
    padding: 20px 30px;
  }

  #page3mid h3 {
    font-size: 7vw;
  }

  #page3mid h3 span {
    font-size: 7vw;
  }

  #page3curve {
    padding: 50px 20px;
    padding-bottom: 10vh;
    min-height: 90vh;
    border-top-right-radius: 170px;
    border-bottom-right-radius: 170px;
  }

  #page3curve h1 {
    font-size: 15vw;
  }

  #page3curve .box {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 1vw;
  }
  #page3curve #box2.box {
    margin-top: 5vh;
  }
  .curve {
    width: 80%;
  }
  .curve #curve4{
    width: 80%;
    margin-top:10vh;
    padding-top:10vh;
  }

  .ctop img {
    width: 17vw;
  }

  .ctop h2 {
    font-size: 4vw;
  }

  .curve h3 {
    font-size: 4vw;
  }

  #page3bot {
    padding: 0 10px;
  }

  #page3bot h4 {
    font-size: 8vw;
    padding-top: 10px;
    line-height: 1.1;
  }

  #page3bot p {
    width: 65%;
    font-size: 3.2vw;
  }

  #camp {
    min-height: 20vh;
    padding: 0 10px;
  }

  #camp h4 {
    font-size: 8vw;
    top: 3%;
  }

  #camp p {
    width: 65%;
    font-size: 3.3vw;
  }

  #fot {
    height: 35vh;
  }

  #page4bot {
    height: 25vh;
  }

  #page4bot h1 {
    font-size: 6vw;
  }

  #line {
    width: 30%;
    border-top: 2px solid black;
  }

  #social i {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 1000px) {
  .about-info-box {
    font-size: 5vw;
    padding: 5px;
    text-align:center;
  }

  .about-right-description {
    width: 100%;
    font-size: 5vw;
    text-align: center;
  }

  .about-us-title {
    text-align: center;
    font-size: 9vw;
  }

  .about-us-section {
    flex-direction: column;
    padding: 20px;
  }
}
